<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/Style1.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/Style2.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div id="Wrapper">

        @RenderPage("/Views/Shared/Header.cshtml")
        <div id="Content">


            @RenderBody()<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            @RenderSection("SubFooter", false)
            @RenderPage("/Views/Shared/Button.cshtml")
        </div>
       @RenderPage("/Views/Shared/Footer.cshtml")
    </div>

</body>
</html>
