
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Emp Detail</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/products">Sản Phẩm</a>
            <li class="nav-item">
                <a class="nav-link" href="/home/contact">Liên Hệ</a>
            </li>
            </li>
        </ul>
    </nav>
    @{
        string gender;
        if (ViewBag.Gender == "M")
        {
            gender = "Male";
        }
        else
        {
            gender = "Female";
        }
    }

    <<div class="container-fluid">
         <table class="table w-25 m-auto">
             <tr>
                 <td>Employee ID</td>
                 <td><b>@ViewBag.EmpId</b></td>
             </tr>
             <tr>
                 <td>Employee Name</td>
                 <td><b>@ViewBag.Name</b></td>
             </tr>
             <tr>
                 <td>Employee Salary</td>
                 <td><b>@ViewBag.Salary</b></td>td>
             </tr>
             <tr>
                 <td>Employee Adress</td>
                 <td><b>@ViewBag.Address</b></td>td>
             </tr>
             <tr>
                 <td>Employee Gender</td>
                 <td>@gender</td>
             </tr>
             <tr>
                 <td colspan="2">
                     @if (ViewBag.Salary > 2000)
                     {
                         <span class="text-success">Good Work !</span>
                     }
                     else
                     {
                         <span class="text-danger">Lose</span>
                     }
                 </td>
             </tr>
             <tr>
                 <td>Year</td>
                 <td>

                     <ul>
                         @for (int i = ViewBag.Year; i <= DateTime.Now.Year; i++)
                         {
                             <li>@i</li>
                         }
                     </ul>
                 </td>
             </tr>
             <tr>
                 <td>Positions</td>
                 <td>
                     <ul>
                         @foreach (var pos in ViewBag.Positions)
                         {
                             <li>@pos</li>
                         }
                 </td>
             </tr>
         </table>"
    </div>
</body>
</html>